<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="connection.url">jdbc:sqlite:sample.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">jumia.util.SQLDialectUtil</property>        
        <property name="current_session_context_class">thread</property>

        <mapping class="jumia.phone.model.customer.Customer"/>

    </session-factory>
</hibernate-configuration>